.main-wrapper {
  padding: 30px;
  position: relative;
}
.logo {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin: 16px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.3);
  &:hover {
    color: #fff;
  }
}
